body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6fafd), to(#ffffff));
  background-image: linear-gradient(180deg, #f6fafd 0%, #ffffff 100%);
  height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 240px 0 240px;
  width: 100%;
}

.wrapper .top {
  display: inherit;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .top__left {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 492px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .top__left .logo {
  display: inherit;
}

.wrapper .top__left nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.wrapper .top__left nav a {
  margin-left: 20px;
  margin-right: 20px;
  color: #4b5d68;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.wrapper .top__left nav a:first-child {
  color: #212353;
  font-weight: 600;
}

.wrapper .top__left nav a:last-child {
  margin-right: 0;
}

.wrapper .top__right .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-width: 0;
  border-radius: 50px;
  font-size: 16px;
  color: #212353;
  font-weight: 600;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  letter-spacing: 0.08px;
  outline: transparent;
  cursor: pointer;
}

.wrapper header.header {
  height: 564px;
  width: 1248px;
  margin-top: 130px;
  background-image: url("../images/image1 1.png");
  background-repeat: no-repeat;
  background-size: 885px 468px;
  background-position: right bottom;
}

.wrapper header.header .heading h1 {
  width: 645px;
  color: #212353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.wrapper header.header .description {
  width: 380px;
}

.wrapper header.header .description p {
  line-height: 28.8px;
  margin-top: 50px;
  font-weight: 500;
  color: #4b5d68;
}

.wrapper header.header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: #9c69e2;
  border-width: 0;
  border-radius: 50px;
  outline: transparent;
  font-weight: 500;
  width: 170px;
  height: 60px;
  line-height: 28.8px;
  margin-top: 20px;
}

.wrapper .first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 150px;
  width: 1117px;
  height: 561px;
  border-radius: 50px;
  background-color: rgba(240, 99, 184, 0.15);
}

.wrapper .first-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 475px;
}

.wrapper .first-section article h2 {
  font-size: 40px;
  color: #212353;
  margin-bottom: 18px;
}

.wrapper .first-section article p {
  font-size: 18px;
  font-weight: 500;
  color: #4b5d68;
}

.wrapper .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: none;
}

.wrapper .second-section h3 {
  font-size: 40px;
  color: #212353;
  font-weight: 700;
  margin-bottom: 50px;
}

.wrapper .second-section p {
  font-size: 18px;
  font-weight: 500;
  color: #4b5d68;
  width: 585px;
}
/*# sourceMappingURL=main.css.map */